*
{ margin: 0;
padding: 0;
box-sizing: border-box;
}

.conteudoCentralizado{
    display: flex;
    font-family: 'IBM Plex Serif', serif;
    background-color: rgb(5, 91, 161);
    color:white;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px 20px;
    
}
.titulo{
    font-size: 50px;
    margin-top: 30px;
}

.texto{
    font-size: 30px;
    
}

.calendario{
    width: auto;
    height: 30px;
    font-size: 15px;
    border-radius: 10px;
}

.btn{
    width: 100px;
    height:35px;
    border-radius: 10px;
    background-color: rgb(226, 10, 226);
    margin-top: 20px;
}

.corpoConteudo{
    flex:auto;
    align-self: center;
    padding: 20px;
}
.titullFoto{
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.foto{
    width: 50%;
    height: auto;
}
.credNasa{
    font-size: 20px;
    font-weight: bold;
}

.explicacao{
    font-size: 35px;
    font-weight: bold;
}

.rodape{
    flex-shrink: 0;
    position:static;
    font-size: 17px;
    font-weight: bold;
    margin: 20px;
}